@{
    ViewBag.Title = "Home Page";
}

<main>
    

    <div style="text-align:center">

        <h2>Welcome to Inventory Management System</h2> <br />

        <p>This system is divided into three parts</p>

        <ul class="list-group">
            <li>Product</li>
            <li>Purchase</li>
            <li>Sale</li>
        </ul> <br />

        <p>Three number of operations in each section</p>

        <ul class="list-group">
            <li>We can create new item</li>
            <li>We can update item</li>
            <li>We can delete item</li>
        </ul>

    </div>
        
        
</main>